@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main {
    font-family: 'poppins';
    display: flex;
}

.container-choose {
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button-choose {
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0.1rem solid #333333;
    border-radius: 1rem;
    transition: 0.5s;
}

.button-choose:hover {
    background-color: #A3C4F3;
    color: #FFFFFF;
    cursor: pointer;
}

.button-choose:active {
    background-color: #333333;
}

.icons {
    width: 1.8rem;
    height: auto;
}

.container_tasks {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.title {
    color: #333333;
    font-style: italic;
}

.container-add {
    width: 100%;
    height: auto;
    display: flex;
    flex-basis: 1;
}

.button-add {
    width: 10rem;
    height: 2.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0.1rem solid black;
    border-left: none;
    transition: 0.5s;
}

.button-add:hover {
    background-color: #A3C4F3;
    color: #FFFFFF;
    cursor: pointer;
}

.button-add:active {
    background-color: #333333;
}

.input-add {
    height: 2.59rem;
    width: 42%;
    padding-left: 1rem;
    border-radius: 1rem 0 0 1rem;
    border: 0.1rem solid black;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.tasks {
    width: 41rem;
    text-align: left;
    margin-top: 1rem;
}

.input-checkbox {
    margin-right: 0.5rem;
}

.task {
    display: flex;
    align-items: center;
}

.button-task {
    border: none;
    background: none;
    transition: 0.5s;
}

.button-task:hover {
    color: #FFFFFF;
    transform: scale(1.1);
    cursor: pointer;
    transform: rotate(360deg);
}

.button-task:active {
    color: #333333;
}

input[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    accent-color: #A3C4F3;
    /* Cor de destaque para navegadores que suportam */
    cursor: pointer;
}