@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* principal */
.main {
    margin: 1rem;
    padding: 0;
    font-family: 'poppins';
    display: flex;
}

/* escolher favoritas, concluidas e todas */
.container-choose{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button-choose{
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0.1rem solid black;
}

.icons{
    width: 1.8rem;
    height: auto;
}

/* container das tasks */
.container_tasks{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.container-add{
    width: 100%;
    height: auto;
    display: flex;
    flex-basis: 1;
}

.button-add{
    width: 10rem;
    height: 2.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0.1rem solid black;
}

.input-add{
    height: 2.59rem;
    width: 42%;
    padding-left: 1rem;
    border-radius: 1rem 0 0 1rem;
    border: 0.1rem solid black;
}

.tasks{
    width: 41rem;
    text-align: left;
    margin-top: 1rem;
}

.input-checkbox{
    margin-right: 0.5rem;
}

.task{
    display: flex;
    align-items: center;
}

.button-task{
    border: none;
    background: none;
}
